$color-primary: #2E302E;
$color-secondary: #00A9E0;
$color-tertiary: #1D3C34;
$color-custom-1: #002657;
$color-custom-2: #FFFAF6;
$color-custom-3: #F5FEFF;
$color-custom-4: #FF5F00;
$color-custom-5: #EA6854;
$color-custom-6: #E0F2EC;
$color-custom-7: #FFFFFF;
$max-width: 1200px;